@using System.Net
@using Cervantes.CORE
@model Cervantes.Web.Models.ProjectDetailsViewModel

@{
    ViewData["Title"] = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

     if (TempData["existsMember"] != null)
    {
        <div class="alert alert-info alert-dismissible">
            <strong localize-content>This user is already added to project!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

     if (TempData["addedMember"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>User added to project successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

      if (TempData["deletedMember"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>User deleted from project successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 localize-content><i class="fas fa-folder"></i> @Model.Project.Name</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" localize-content>Home</a></li>
              <li class="breadcrumb-item"><a asp-controller="Project" asp-action="Index" localize-content>Project</a></li>
              <li class="breadcrumb-item active" localize-content>Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
      <hr />
    </section>
    
    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img class="profile-user-img img-fluid img-circle"
                           src="@Url.Content(Model.Project.Client.ImagePath)"
                           alt="LogoClient">
                    </div>
    
                    <h3 class="profile-username text-center">@Model.Project.Name</h3>
                    <dt><p localize-content>Client</p></dt>
                    <hr>
                    <dd><a asp-controller="Client" asp-action="Details" asp-route-id="@Model.Project.Client.Id" localize-content><span class="btn btn-outline-dark btn-sm"><i class="fas fa-briefcase"></i> @Model.Project.Client.Name</span></a></dd>
                    <dt> <p localize-content>Start Date</p></dt>
                    <hr>
                    <dd>@Html.DisplayFor(model => model.Project.StartDate)</dd>      
                    <dt> <p localize-content>End Date</p></dt>
                    <hr>
                    <dd>@Html.DisplayFor(model => model.Project.EndDate)</dd> 
                    <dt> <p localize-content>Created by</p></dt>
                    <hr>
                    <dd>@Html.DisplayFor(model => model.Project.User.FullName)</dd>

                    <dt> <p localize-content>Project Type</p></dt>
                    <hr>
                       @switch(Model.Project.ProjectType)
                    {
                        case ProjectType.BlackBox:
                            <dd><span class="badge badge-dark">@Html.DisplayFor(model => model.Project.ProjectType)</span></dd>
                            break;
                        case ProjectType.GrayBox:
                             <dd><span class="badge badge-secondary">@Html.DisplayFor(model => model.Project.ProjectType)</span></dd>
                            break;
                        case ProjectType.WhiteBox:
                            <dd><span class="badge badge-light">@Html.DisplayFor(model => model.Project.ProjectType)</span></dd>
                            break;
                        default:
                            <dd><span class="badge badge-light">@Html.DisplayFor(model => model.Project.ProjectType)</span></dd>
                            break;

                    }

                    <dt> <p localize-content>Status</p></dt>
                    <hr>
                    @switch(Model.Project.Status)
                    {
                        case ProjectStatus.Active:
                            <dd><span class="badge badge-success">@Html.DisplayFor(model => model.Project.Status)</span></dd>
                            break;
                        case ProjectStatus.Archived:
                             <dd><span class="badge badge-secondary">@Html.DisplayFor(model => model.Project.Status)</span></dd>
                            break;
                        case ProjectStatus.Waiting:
                            <dd><span class="badge badge-info">@Html.DisplayFor(model => model.Project.Status)</span></dd>
                            break;
                        default:
                            <dd><span class="badge badge-light">@Html.DisplayFor(model => model.Project.Status)</span></dd>
                            break;

                    }  

                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-10">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#details" data-toggle="tab">Details</a></li>
                      <li class="nav-item"><a class="nav-link" href="#members" data-toggle="tab">Members</a></li>
                      <li class="nav-item"><a class="nav-link" href="#targets" data-toggle="tab">Targets</a></li>
                      <li class="nav-item"><a class="nav-link" href="#tasks" data-toggle="tab">Tasks</a></li>
                      <li class="nav-item"><a class="nav-link" href="#vulns" data-toggle="tab">Vulnerabilities</a></li>
                      <li class="nav-item"><a class="nav-link" href="#notes" data-toggle="tab">Notes</a></li>
                       <li class="nav-item"><a class="nav-link" href="#attachments" data-toggle="tab">Attachments</a></li>
                      
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="details">
                        <dl>

                            <dt><p localize-content>Description</p></dt>
                            <hr>
                            <dd>@Html.Raw(@WebUtility.HtmlDecode(Model.Project.Description))</dd>
                        </dl>
                      </div>

                         <!-- /.tab-pane -->
                      <div class="tab-pane" id="members">

                        <table id="membersResults" class="table table-bordered table-hover projects" width="100%">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th localize-content>Avatar</th>
                                    <th localize-content>Name</th>
                                    <th localize-content>Email</th>
                                        @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                                        {
                                            <th localize-content>Options</th>
                                        }                             
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>

                                @foreach (var members in Model.ProjectUsers)
                                {
                             <tr>
                                        <td><img alt="Avatar" class="table-avatar" src="@Url.Content(members.User.Avatar)"></td>
                                        <td>@members.User.FullName</td>
                                        <td>@members.User.Email</td>
                                         @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                                            {
                                                <td>
                                                    <form asp-action="DeleteMember" method="post" enctype="multipart/form-data">
                                                        <button type="submit" class="btn btn-danger btn-sm" asp-controller="Project" asp-action="DeleteMember" asp-route-project="@members.ProjectId" asp-route-user="@members.UserId" localize-content><i class="fas fa-trash"></i> Delete </button>
                                                    </form>
                                                </td>

                                            }

                                    </tr>
                                }

                            </tbody>
                            <!--Table body-->
                        </table>

                          @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                          {
                              <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addMemberModal">
                              Add Member
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="addMemberModalLabel">Add Member to Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form asp-action="AddMember" method="post" enctype="multipart/form-data">
                                  <div class="modal-body">
                                    <input asp-for="Project.Id" type="hidden" id="project" name="project"/>
                                    <div class="form-group">
                                        <label asp-for="ProjectUsers" class="control-label">User</label>
                                        @Html.DropDownListFor(m => m.Users, Model.Users, new { @class = "form-control", id = "users", name="users" })
                                    </div>
                                
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Add" class="btn btn-success" />
                                  </div>
                                   </form>
                                </div>
                              </div>
                            </div>
                              

                            }
                        <!--Table-->
                      </div>
                      <!-- /.tab-pane -->

                         <!-- /.tab-pane -->
                      <div class="tab-pane" id="targets">
                        
                           <table id="targetsResults" class="table table-bordered table-hover projects" width="100%">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th localize-content>Name</th>
                                    <th localize-content>Description</th>
                                    <th localize-content>Type</th>
                                        @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                                        {
                                            <th localize-content>Options</th>
                                        }                             
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>

                                @foreach (var targets in Model.Targets)
                                {
                             <tr>
                                        <td>@targets.Name</td>
                                        <td>@targets.Description</td>
                                         @switch(targets.Type)
                                        {
                                            case TargetType.IP:
                                                <dd><span class="badge badge-success">@targets.Type</span></dd>
                                                break;
                                            case TargetType.Hostname:
                                                 <dd><span class="badge badge-secondary">@targets.Type</span></dd>
                                                break;
                                            case TargetType.CIDR:
                                                <dd><span class="badge badge-light">@targets.Type</span></dd>
                                                break;
                                            case TargetType.URL:
                                                <dd><span class="badge badge-info">@targets.Type</span></dd>
                                                break;
                                            case TargetType.Binary:
                                                <dd><span class="badge badge-dark">@targets.Type</span></dd>
                                                break;
                                            default:
                                                <dd><span class="badge badge-light">@targets.Type</span></dd>
                                                break;

                                        }
                                         @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                                            {
                                                <td>
                                                    <form asp-action="DeleteMember" method="post" enctype="multipart/form-data">
                                                    <a class="btn btn-danger btn-sm" asp-controller="Project" asp-action="DeleteMember" asp-route-project="@targets.ProjectId" asp-route-user="@targets.UserId" ASP="POST" localize-content><i class="fas fa-trash"></i> Delete</a> 
                                                    </form>
                                                </td>

                                            }

                                    </tr>
                                }

                            </tbody>
                            <!--Table body-->
                        </table>

                          @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                          {
                              <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addTargetModal">
                              Add Target
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addTargetModal" tabindex="-1" role="dialog" aria-labelledby="addTargetModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="addTargetModalLabel">Add Target to Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form asp-action="AddTarget" method="post" enctype="multipart/form-data">
                                  <div class="modal-body">

                                    <input asp-for="Project.Id" type="hidden" id="project" name="project"/>

                                     <div class="form-group">
                                        <label class="control-label">Name / IP / CIDR / URL</label>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Description</label>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Target Type</label>
                                        @Html.DropDownListFor(model => model.Targets, Html.GetEnumSelectList<TargetType>(),new { @class = "form-control" })
                                    </div>  
                                    
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Add" class="btn btn-success" />
                                  </div>
                                   </form>
                                </div>
                              </div>
                            </div>
                              

                            }



                      </div>
                      <!-- /.tab-pane -->

                         <!-- /.tab-pane -->
                      <div class="tab-pane" id="tasks">
                        
                      </div>
                      <!-- /.tab-pane -->

                         <!-- /.tab-pane -->
                      <div class="tab-pane" id="vulns">
                        
                      </div>
                      <!-- /.tab-pane -->

                         <!-- /.tab-pane -->
                      <div class="tab-pane" id="notes">
                        
                      </div>
                      <!-- /.tab-pane -->

                         <!-- /.tab-pane -->
                      <div class="tab-pane" id="attachments">
                        
                      </div>
                      <!-- /.tab-pane -->
    
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid --> 
    



</section>

           
  @section Scripts{
<script>

    $(document).ready(function () {
        $('#membersResults').DataTable({
            "responsive": true
        });
        $('.dataTables_length').addClass('bs-select');
    });


</script>
}                       
