@model IEnumerable<Cervantes.Web.Models.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}
@{
    if (TempData["deleted"] != null)
    {
        <div class="alert alert-dismissible alert-success fade show" role="alert">
    <strong localize-content>Project deleted successfully!</strong>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
      </button>
</div>
    }

    if (TempData["created"] != null)
    {
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Project created successfully!</strong>
            
        </div>
    }

    if (TempData["edited"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Project edited successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
    if (TempData["error"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>Error @TempData["error"].ToString() Project!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    


}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 localize-content><i class="fas fa-folder"></i> Projects</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" localize-content>Home</a></li>
              <li class="breadcrumb-item active" localize-content>Projects</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
      <hr />
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
    <div class="card-body">
        <!--Table-->
        <table id="projectResults" class="table table-bordered table-hover" width="100%">
            <!--Table head-->
            <thead>
                <tr>
                    <th localize-content>Name</th>
                    <th localize-content>Client</th>
                    <th localize-content>Type</th>
                    <th localize-content>Status</th>
                    <th localize-content>Start Date</th>
                    <th localize-content>End Date</th>
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                        {
                            <th localize-content>Options</th>
                        }                             
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>

                @foreach (var project in Model)
                {
                    <tr>
                        <td>                  
                             @project.Name                      
                        </td>
                        <td><a asp-controller="Client" asp-action="Details" asp-route-id="@project.ClientId" localize-content><span class="btn btn-outline-dark btn-sm"><i class="fas fa-briefcase"></i> @project.Client.Name</span></a></td>
                        <td>@project.ProjectType</td>
                        <td>@project.Status</td>
                        <td>@project.StartDate</td>
                        <td>@project.EndDate</td>
                         @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                            {
                                <td>
                                    <a class="btn btn-tool" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" localize-content><i class="fas fa-eye"></i></a>
                                    <a class="btn btn-tool" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id" localize-content><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-tool" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" localize-content ><i class="fas fa-trash"></i></a>
                                </td>

                            }
                         else
                         {
                             <td><a class="btn btn-tool" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" localize-content ><i class="fas fa-trash"></i></a></td>
                             
                         }

                    </tr>
                }

            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
 
        </div>
        </div>

    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->

  @section Scripts{
<script>

    $(document).ready(function () {
        $('#projectResults').DataTable({
            "responsive": true
        });
        $('.dataTables_length').addClass('bs-select');
    });


</script>
}
