@model ReportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="{{ org.name }}"/>
    <title></title>
    <style>
        body {
            margin-top: 25.4mm;
            margin-left: 31.7mm;
            margin-right: 31.7mm;
            font-size: 11pt;
        }
        a {
            color: #748094;
        }
        * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        h2 {
            margin-top: 1cm;
            border-bottom: 1px solid #748094;
            padding-bottom: .25cm;
        }
        dt {
            font-weight: bold;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 3px;
        }
        table th {
            padding: 8px;
        }
        tr td:first-child {
            font-weight: bold;
            width: 300px;
        }
        td {
            padding: 8px;
            border: 1px solid #c3c3c3;
        }
        td.risk-low {
            background-color: #579F6E;
            color: white;
        }
        td.risk-medium {
            background-color: #FFFC84;
            color: #2E2D22;
        }
        td.risk-high {
            background-color: #FEC022;
            color: white;
        }
        td.risk-critical {
            background-color: #E56E6A;
            color: white;
        }
        .new-page-separator {
            page-break-before: always;
        }
    </style>
</head>

<body>

    <div align="center" >

        <img src="~/img/logo.png" />
        <h1>Test Company</h1>
    </div>
    


    <div style="break-after:page;page-break-after: always;"></div>

    <h1>Version control</h1>

    <table>
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Version</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
 
        </tbody>
    </table>

<div style="break-after:page;page-break-after: always;"></div>



<div style="break-after:page;page-break-after: always;"></div>


    <h1><a id="pentesting-team">Pentesting team</a></h1>
    @if (Model.Users != null) {

        <table>
            <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
        </tr>
        </thead>
            <tbody>
                @foreach(var user in Model.Users){
                <tr>
                    <td style=" width: 60px; padding-bottom: 8px;">
                        <img alt="Avatar" style="width: 50px;"
                         src="https://www.gravatar.com/avatar/{{ user.email_md5 }}?s=200&d=robohash"/>
                    </td>
                    <td>
                        <h3>@user.User.FullName</h3>
                        
                        
                    </td>
                    <td><p>@user.User.Email</p></td>
                    <td><p>@user.User.Position</p></td>
                </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.Targets != null)
    {

        <div style="break-after:page;page-break-after: always;"></div>

        <h1><a id="targets">Targets</a></h1>

            @foreach (var target in Model.Targets)
            {
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                     
                <tr>
                    <td>@target.Name</td>
                    <td>@target.Type</td>
                </tr>
            </tbody>
        </table>

            }

    }

<div style="break-after:page;page-break-after: always;"></div>


        <h1><a id="findings-overview">Findings overview</a></h1>

        <table>
            <thead>
                <tr>
                    <th>Severity</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
              
                    
                
                <tr>
                    <td style="background-color:#dc3545">Critical</td>
                    <td>@Model.Vulns.Where(x => x.Risk == Cervantes.CORE.VulnRisk.Critical).Count()</td>
                </tr>
                <tr>
                    <td style="background-color:#fd7e14">High</td>
                    <td>@Model.Vulns.Where(x => x.Risk == Cervantes.CORE.VulnRisk.High).Count()</td>
                </tr>
                <tr>
                    <td style="background-color:#ffc107">Medium</td>
                    <td>@Model.Vulns.Where(x => x.Risk == Cervantes.CORE.VulnRisk.Medium).Count()</td>
                </tr>
                <tr>
                    <td style="background-color:#28a745">Low</td>
                    <td>@Model.Vulns.Where(x => x.Risk == Cervantes.CORE.VulnRisk.Low).Count()</td>
                </tr>
                <tr>
                    <td style="background-color:#007bff">Info</td>
                    <td>@Model.Vulns.Where(x => x.Risk == Cervantes.CORE.VulnRisk.Info).Count()</td>
                </tr>
            </tbody>
        </table>
    

<div style="break-after:page;page-break-after: always;"></div>

<h1><a id="vulns">Vulnerabilities</a></h1>

    @if (Model.Vulns != null)
    {
        @foreach (var vuln in Model.Vulns)
        {

            <div>
               
            <h2>@vuln.Name</h2>

            <table>
                <tbody>

                    <tr>
                        <td style="background-color:#6c757d; color:white">Category</td>
                        <td>@vuln.VulnCategory.Name</td>
                    </tr>

                    <tr>
                        <td style="background-color:#6c757d; color:white">Risk</td>
                        <td>@vuln.Risk</td>
                    </tr>

                    <tr>
                        <td style="background-color:#6c757d; color:white">CVSS3 Score</td>
                        <td><a href="https://www.first.org/cvss/calculator/3.0#@vuln.CVSSVector">@vuln.CVSS3</a></td>
                    </tr>
                    <tr>
                    
                        <td colspan="2" align="center" style="background-color:#6c757d; color:white">Description</td>
                    </tr>
                    <tr>
                        <td colspan="2">@vuln.Description</td>
                    </tr>
                     <tr>                 
                        <td colspan="2" align="center" style="background-color:#6c757d; color:white">Impact</td>
                    </tr>
                    <tr>
                        <td colspan="2">@vuln.Impact</td>
                    </tr>
                    <tr>                 
                        <td colspan="2" align="center" style="background-color:#6c757d; color:white">Proof of concept</td>
                    </tr>
                    <tr>
                        <td colspan="2">@vuln.ProofOfConcept</td>
                    </tr>
                     <tr>                 
                        <td colspan="2" align="center" style="background-color:#6c757d; color:white">Remediation</td>
                    </tr>
                    <tr>
                        <td colspan="2">@vuln.Remediation</td>
                    </tr>
                </tbody>
            </table>

        </div>
        }
    }
</body>
</html>