@using System.Net
@model Cervantes.Web.Areas.Workspace.Models.TaskDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-briefcase"></i> @Model.Task.Name</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" localize-content>Home</a></li>
                    <li class="breadcrumb-item" localize-content>Workspace</li>
                    <li class="breadcrumb-item" localize-content>@Model.Project.Name</li>
                    <li class="breadcrumb-item" localize-content>Task</li>
                    <li class="breadcrumb-item" localize-content>Details</li>
                    <li class="breadcrumb-item active" localize-content>@Model.Task.Name</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr />
</section>

<!-- Main content -->
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <span class="profile-user-img img-fluid img-circle"><i class="fas fa-tasks fa-3x"></i></span>
                        </div>

                        <h3 class="profile-username text-center">@Model.Task.Name</h3>
                        <dt><p localize-content>Created by</p></dt>
                        <hr>
                        <dd>@Html.DisplayFor(model => model.Task.CreatedUser.FullName)</dd>
                        <dt> <p localize-content>Asigned to</p></dt>
                        <hr>
                        <dd>@Html.DisplayFor(model => model.Task.AsignedUser.FullName)</dd>
                        <dt><p localize-content>Start Date</p></dt>
                        <hr>
                        <dd>@Html.DisplayFor(model => model.Task.StartDate)</dd>
                        <dt> <p localize-content>End Date</p></dt>
                        <hr>
                        <dd>@Html.DisplayFor(model => model.Task.EndDate)</dd>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#details" data-toggle="tab">Details</a></li>
                            <li class="nav-item"><a class="nav-link" href="#notes" data-toggle="tab">Notes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#attachments" data-toggle="tab">Attachments</a></li>

                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="details">
                                <dl>
                                    <dt><p localize-content>Description</p></dt>
                                    <hr>
                                    <dd>@Html.Raw(@WebUtility.HtmlDecode(Model.Task.Description))</dd>
                                </dl>
                            </div>

                            <div class="tab-pane" id="notes">
                            </div>

                            <div class="tab-pane" id="attachments">
                            </div>


                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>