@using System.Net
@model Cervantes.Web.Models.ClientViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 localize-content><i class="fas fa-briefcase"></i> @Model.Name</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" localize-content>Home</a></li>
              <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Index" localize-content>Home</a></li>
              <li class="breadcrumb-item active" localize-content>Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
      <hr />
    </section>
    
    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img class="profile-user-img img-fluid img-circle"
                           src="@Url.Content(Model.ImagePath)"
                           alt="LogoClient">
                    </div>
    
                    <h3 class="profile-username text-center">@Model.Name</h3>
                    <dt><p localize-content>Created by</p></dt>
                    <hr>
                    <dd>@Html.DisplayFor(model => model.UserName)</dd>
                    <dt> <p localize-content>Created on</p></dt>
                    <hr>
                    <dd>@Html.DisplayFor(model => model.CreatedDate)</dd>                    


                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-10">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#details" data-toggle="tab">Details</a></li>
                      <li class="nav-item"><a class="nav-link" href="#projects" data-toggle="tab">Projects</a></li>
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="details">
                        <dl>
                            <dt><p localize-content>Contact Name</p></dt>
                            <hr>
                            <dd>@Html.DisplayFor(model => model.ContactName)</dd>
                            <dt> <p localize-content>Contact Phone</p></dt>
                            <hr>
                            <dd>@Html.DisplayFor(model => model.ContactPhone)</dd>
                            <dt><p localize-content>Contact Email</p></dt>
                            <hr>
                            <dd>@Html.DisplayFor(model => model.ContactEmail)</dd>
                            <dt><p localize-content>URL</p></dt>
                            <hr>
                            <dd>@Html.DisplayFor(model => model.Url)</dd>
                              <dt><p localize-content>Description</p></dt>
                            <hr>
                            <dd>@Html.Raw(@WebUtility.HtmlDecode(Model.Description))</dd>
                        </dl>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="projects">
                        
                      </div>
                      <!-- /.tab-pane -->
    
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->        

</section>